<div class="center jumbotron" id='aboutpage'>
  <h1 id='abouttitle'><strong>ABOUT US</strong></h1>
  <br>
  <p id='aboutp'>Mind Bloggoling is a compedium of user contributed invented words with definitions that fills a hole in the language — to give a name to emotions we all might experience but don’t yet have a word for.</p>
</div>
